@charset "utf-8";
/* CSS Document */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 0px 20px;
  justify-content: space-around;
}

#restaurants-list li {
  width: calc(50% - 30px);
  max-width: 300px;
  height: 440px;
  position: relative;
  margin: 0 20px 20px 0;
}

#breadcrumb {
  width: calc(50% - 80px);
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 60px;
  width: 50%;
}

#restaurant-container, #reviews-container {
  width: calc(50% - 40px);
}

#reviews-list {
  padding-right: 40px;
}

inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
